<div class="container">
  <h1>Welcome to Dummy!</h1>
<p>Sign Up Form</p>

<% if @user %>
  <% if @user.errors %>
    <h3><%=@user.errors.full_messages%></h3>
    <%end%>
<form action = '/sign_up' method='post'>
Name<BR><input type = 'text' name= 'name' value=<%=@user.name%> >
<BR>
  <BR>
Email<BR><input type = 'text' name= 'email'>
<BR>
<br>Password<BR>
<input type = 'password' name= 'password'>
<input type = 'submit'>
</form>
<br>
<%else%>
<form action = '/sign_up' method='post'>
Name<BR><input type = 'text' name= 'name' >
<BR>
  <BR>
Email<BR><input type = 'text' name= 'email'>
<BR>
<br>Password<BR>
<input type = 'password' name= 'password'>
<input type = 'submit'>
</form>
<br>
<%end%>

<p>Sign In Form</p>
<form action = '/sign_in' method='post'>
Email<br><input type = 'text' name= 'email'> 
<BR>
  <BR>
Password<br><input type = 'password' name= 'password'>
<input type = 'submit'>
</form>

</div>
